<%- include("../includes/header") %>
<body>
    <!-- preloader  -->
    <!-- <div id="preloader"></div> -->
    <!-- Start header -->
    <%- include("../includes/navbar") %>
    <!-- End header area -->
    <main>
    <!-- Start Breadcrumb Area -->
        <div class="page-area bread-pd">
            <div class="breadcumb-overlay"></div>
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="breadcrumb-title text-center">
                            <h2>FAQ</h2>
                            <div class="bread-come">
                                <nav aria-label="breadcrumb ">
                                    <ol class="breadcrumb purple lighten-4 justify-content-center">
                                        <li class="breadcrumb-items mr-3"><a class="black-text" href="/pages/index.html">Home</a><img style="width: 0.8rem; margin: 5px;" src="/images/arrow.png" alt=""></li>
                                        <li class="breadcrumb-items"><a class="black-text" href="/pages/about.html">About us</a></li>
                                    </ol>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Breadcrumb Area -->
        <marquee style="  margin-bottom: 0%; " behavior="" direction="">
            <div style="display: flex; justify-content: space-around;  width: 100%;">
                <div  class="bitcion"><div class="tradingview-widget-container" style="width: 100%; height: 126px;">
                    <iframe scrolling="no" allowtransparency="true" frameborder="0" src="https://www.tradingview-widget.com/embed-widget/single-quote/?locale=in#%7B%22symbol%22%3A%22BITSTAMP%3ABTCUSD%22%2C%22width%22%3A%22100%25%22%2C%22colorTheme%22%3A%22dark%22%2C%22isTransparent%22%3Atrue%2C%22height%22%3A126%2C%22utm_source%22%3A%22bitgrowthinv.com%22%2C%22utm_medium%22%3A%22widget_new%22%2C%22utm_campaign%22%3A%22single-quote%22%2C%22page-uri%22%3A%22bitgrowthinv.com%2F%22%7D" title="single quote TradingView widget" lang="en" style="user-select: none; box-sizing: border-box; display: block; height: calc(100% - 32px); width: 100%;"></iframe>
                    <div class="tradingview-widget-copyright"><a href="https://in.tradingview.com/symbols/BTCUSD/?exchange=BITSTAMP&amp;utm_source=bitgrowthinv.com&amp;utm_medium=widget_new&amp;utm_campaign=single-quote" rel="noopener" target="_blank"><span style="color:#EC3F77 ;">BTCUSD Rates</span></a> by TradingView</div>
                    
                  <style>
.tradingview-widget-copyright {
font-size: 13px !important;
line-height: 32px !important;
text-align: center !important;
vertical-align: middle !important;
/* @mixin sf-pro-display-font; */
font-family: -apple-system, BlinkMacSystemFont, 'Trebuchet MS', Roboto, Ubuntu, sans-serif !important;
color: #B2B5BE !important;
}

.tradingview-widget-copyright .blue-text {
color: #2962FF !important;
}

.tradingview-widget-copyright a {
text-decoration: none !important;
color: #B2B5BE !important;
}

.tradingview-widget-copyright a:visited {
color: #B2B5BE !important;
}

.tradingview-widget-copyright a:hover .blue-text {
color: #1E53E5 !important;
}

.tradingview-widget-copyright a:active .blue-text {
color: #1848CC !important;
}

.tradingview-widget-copyright a:visited .blue-text {
color: #2962FF !important;
}
</style></div></div>			
                <div class="Ethereum"><div class="tradingview-widget-container" style="width: 100%; height: 126px;">
                    <iframe scrolling="no" allowtransparency="true" frameborder="0" src="https://www.tradingview-widget.com/embed-widget/single-quote/?locale=in#%7B%22symbol%22%3A%22BITSTAMP%3AETHUSD%22%2C%22width%22%3A%22100%25%22%2C%22colorTheme%22%3A%22dark%22%2C%22isTransparent%22%3Atrue%2C%22height%22%3A126%2C%22utm_source%22%3A%22bitgrowthinv.com%22%2C%22utm_medium%22%3A%22widget_new%22%2C%22utm_campaign%22%3A%22single-quote%22%2C%22page-uri%22%3A%22bitgrowthinv.com%2F%22%7D" title="single quote TradingView widget" lang="en" style="user-select: none; box-sizing: border-box; display: block; height: calc(100% - 32px); width: 100%;"></iframe>
                    <div class="tradingview-widget-copyright"><a href="https://in.tradingview.com/symbols/ETHUSD/?exchange=BITSTAMP&amp;utm_source=bitgrowthinv.com&amp;utm_medium=widget_new&amp;utm_campaign=single-quote" rel="noopener" target="_blank"><span style="color:#EC3F77 ;" class="">ETHUSD Rates</span></a> by TradingView</div>
                    
                  <style>
.tradingview-widget-copyright {
font-size: 13px !important;
line-height: 32px !important;
text-align: center !important;
vertical-align: middle !important;
/* @mixin sf-pro-display-font; */
font-family: -apple-system, BlinkMacSystemFont, 'Trebuchet MS', Roboto, Ubuntu, sans-serif !important;
color: #B2B5BE !important;
}

.tradingview-widget-copyright .blue-text {
color: #2962FF !important;
}

.tradingview-widget-copyright a {
text-decoration: none !important;
color: #B2B5BE !important;
}

.tradingview-widget-copyright a:visited {
color: #B2B5BE !important;
}

.tradingview-widget-copyright a:hover .blue-text {
color: #1E53E5 !important;
}

.tradingview-widget-copyright a:active .blue-text {
color: #1848CC !important;
}

.tradingview-widget-copyright a:visited .blue-text {
color: #2962FF !important;
}
</style></div></div>
                <div class="litecion"><div class="tradingview-widget-container" style="width: 100%; height: 126px;">
                    <iframe scrolling="no" allowtransparency="true" frameborder="0" src="https://www.tradingview-widget.com/embed-widget/single-quote/?locale=in#%7B%22symbol%22%3A%22BINANCE%3ALTCUSDT%22%2C%22width%22%3A%22100%25%22%2C%22colorTheme%22%3A%22dark%22%2C%22isTransparent%22%3Atrue%2C%22height%22%3A126%2C%22utm_source%22%3A%22bitgrowthinv.com%22%2C%22utm_medium%22%3A%22widget_new%22%2C%22utm_campaign%22%3A%22single-quote%22%2C%22page-uri%22%3A%22bitgrowthinv.com%2F%22%7D" title="single quote TradingView widget" lang="en" style="user-select: none; box-sizing: border-box; display: block; height: calc(100% - 32px); width: 100%;"></iframe>
                    <div class="tradingview-widget-copyright"><a href="https://in.tradingview.com/symbols/LTCUSDT/?exchange=BINANCE&amp;utm_source=bitgrowthinv.com&amp;utm_medium=widget_new&amp;utm_campaign=single-quote" rel="noopener" target="_blank"><span style="color:#EC3F77 ;">LTCUSDT Rates</span></a> by TradingView</div>
                    
                  <style>
.tradingview-widget-copyright {
font-size: 13px !important;
line-height: 32px !important;
text-align: center !important;
vertical-align: middle !important;
/* @mixin sf-pro-display-font; */
font-family: -apple-system, BlinkMacSystemFont, 'Trebuchet MS', Roboto, Ubuntu, sans-serif !important;
color: #B2B5BE !important;
}

.tradingview-widget-copyright .blue-text {
color: #2962FF !important;
}

.tradingview-widget-copyright a {
text-decoration: none !important;
color: #B2B5BE !important;
}

.tradingview-widget-copyright a:visited {
color: #B2B5BE !important;
}

.tradingview-widget-copyright a:hover .blue-text {
color: #1E53E5 !important;
}

.tradingview-widget-copyright a:active .blue-text {
color: #1848CC !important;
}

.tradingview-widget-copyright a:visited .blue-text {
color: #2962FF !important;
}
</style></div></div>
                <div class="xrp"><div class="tradingview-widget-container" style="width: 100%; height: 126px;">
                    <iframe scrolling="no" allowtransparency="true" frameborder="0" src="https://www.tradingview-widget.com/embed-widget/single-quote/?locale=in#%7B%22symbol%22%3A%22BINANCE%3AXRPUSDT%22%2C%22width%22%3A%22100%25%22%2C%22colorTheme%22%3A%22dark%22%2C%22isTransparent%22%3Atrue%2C%22height%22%3A126%2C%22utm_source%22%3A%22bitgrowthinv.com%22%2C%22utm_medium%22%3A%22widget_new%22%2C%22utm_campaign%22%3A%22single-quote%22%2C%22page-uri%22%3A%22bitgrowthinv.com%2F%22%7D" title="single quote TradingView widget" lang="en" style="user-select: none; box-sizing: border-box; display: block; height: calc(100% - 32px); width: 100%;"></iframe>
                    <div class="tradingview-widget-copyright"><a href="https://in.tradingview.com/symbols/XRPUSDT/?exchange=BINANCE&amp;utm_source=bitgrowthinv.com&amp;utm_medium=widget_new&amp;utm_campaign=single-quote" rel="noopener" target="_blank"><span style="color:#EC3F77 ;">XRPUSDT Rates</span></a> by TradingView</div>
                    
                  <style>
.tradingview-widget-copyright {
font-size: 13px !important;
line-height: 32px !important;
text-align: center !important;
vertical-align: middle !important;
/* @mixin sf-pro-display-font; */
font-family: -apple-system, BlinkMacSystemFont, 'Trebuchet MS', Roboto, Ubuntu, sans-serif !important;
color: #B2B5BE !important;
}

.tradingview-widget-copyright .blue-text {
color: #2962FF !important;
}

.tradingview-widget-copyright a {
text-decoration: none !important;
color: #B2B5BE !important;
}

.tradingview-widget-copyright a:visited {
color: #B2B5BE !important;
}

.tradingview-widget-copyright a:hover .blue-text {
color: #1E53E5 !important;
}

.tradingview-widget-copyright a:active .blue-text {
color: #1848CC !important;
}

.tradingview-widget-copyright a:visited .blue-text {
color: #2962FF !important;
}
</style></div></div>
             </div>  
        </marquee>
         <!-- Start FAQ area -->
         <div class="faq-area bg-color area-padding">
            <div class="container">
                <div class="row">
                   <div class="col-xl-12 col-lg-12 col-md-12">
                        <div class="section-headline text-center">
                            <h2>Important Faq</h2>
                            <p>Find Answer to all your Questions here</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <!-- Start Column Start -->
                    <div class="col-xl-6 col-lg-6 col-md-6">
                        <div class="company-faq-left">
                            <div class="faq_inner">
                                <div id="accordion">
                                    <div class="card">
                                      <div class="card-header white-bg" id="headingOne">
                                        <h4 class="faq-top-text">
                                          <button class="faq-accordion-btn" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                            1.How to start as a Cryptovip Investor?
                                          </button>
                                        </h4>
                                      </div>

                                      <div id="collapseOne" class="collapse show " aria-labelledby="headingOne" data-parent="#accordion">
                                        <div class="card-body">
                                            Use the Registeration page to create a Cryptovipinvestment Account. Get your account activated by funding your Prime wallet with a minimum of $50.
                                        </div>
                                      </div>
                                    </div>
                                    <div class="card">
                                      <div class="card-header white-bg" id="headingTwo">
                                        <h4 class="faq-top-text">
                                          <button class="faq-accordion-btn collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                            2. When and how do you get paid?
                                          </button>
                                        </h4>
                                      </div>
                                      <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                                        <div class="card-body">
                                            You are paid instantly as you requested your payment. Make sure your wallet address is updated and correct.
                                        </div>
                                      </div>
                                    </div>
                                    <div class="card">
                                      <div class="card-header white-bg" id="headingThree">
                                        <h4 class="faq-top-text">
                                          <button class="faq-accordion-btn collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                            3. How much can you earn?
                                          </button>
                                        </h4>
                                      </div>
                                      <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                                        <div class="card-body">
                                            You can earn as much as 80% or more of your investment capital. Our referral programme is also another great way to earn instant bonus.
                                        </div>
                                      </div>
                                    </div>
                                    <div class="card">
                                      <div class="card-header white-bg" id="headingFour">
                                        <h4 class="faq-top-text">
                                          <button class="faq-accordion-btn collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                            4. What is the PPS reward system?
                                          </button>
                                        </h4>
                                      </div>
                                      <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
                                        <div class="card-body">
                                            You automatically recieve 5% of your Downliner's deposit and more for downliners with upto 1000 USD deposit.
                                        </div>
                                      </div>
                                    </div>
                                    <div class="card">
                                      <div class="card-header white-bg" id="headingFive">
                                        <h4 class="faq-top-text">
                                          <button class="faq-accordion-btn collapsed" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                           5. Which Stratum servers are available?
                                          </button>
                                        </h4>
                                      </div>
                                      <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordion">
                                        <div class="card-body">
                                            We are globally available, and so our system is 99.9% available.
                                        </div>
                                      </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End FAQ -->
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6">
                        <div class="company-faq">
                            <div class="faq_inner">
                                <div id="accordion_2">
                                    <div class="card">
                                      <div class="card-header white-bg" id="headingSix">
                                        <h4 class="faq-top-text">
                                          <button class="faq-accordion-btn collapsed" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                                            Where can you see your Investment status?
                                          </button>
                                        </h4>
                                    </div>
                                    <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordion_2">
                                        <div class="card-body">
                                            From your dashboard, check the Investment History to view all investments, both active and payouts..
                                        </div>
                                      </div>
                                    </div>
                                    <div class="card">
                                      <div class="card-header white-bg" id="headingSeven">
                                        <h4 class="faq-top-text">
                                          <button class="faq-accordion-btn collapsed" data-toggle="collapse" data-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                                           7. What is the service?
                                          </button>
                                        </h4>
                                      </div>
                                      <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven" data-parent="#accordion_2">
                                        <div class="card-body">
                                            cryptovipinvestment does not charge anything for your investment / transactions. We make our profits through our Huge Crypto mining processe and involvment in Forex Trades.
                                        </div>
                                      </div>
                                    </div>
                                    <div class="card">
                                      <div class="card-header white-bg" id="headingEight">
                                        <h4 class="faq-top-text">
                                          <button class="faq-accordion-btn collapsed" data-toggle="collapse" data-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
                                            8. How to buy cryptocurrency?
                                          </button>
                                        </h4>
                                      </div>
                                      <div id="collapseEight" class="collapse" aria-labelledby="headingEight" data-parent="#accordion_2">
                                        <div class="card-body">
                                            You need to have a digital wallet and you have to ensure it is well verified and secued, you can buy cryptocurrency with your bank card, paypal, cashapp etc.
                                        </div>
                                      </div>
                                    </div>
                                    <div class="card">
                                      <div class="card-header white-bg" id="headingNine">
                                        <h4 class="faq-top-text">
                                          <button class="faq-accordion-btn collapsed" data-toggle="collapse" data-target="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
                                            9. What cryptocurrencies does Cryptovip offer?
                                          </button>
                                        </h4>
                                      </div>
                                      <div id="collapseNine" class="collapse" aria-labelledby="headingNine" data-parent="#accordion_2">
                                        <div class="card-body">
                                            The following cryptocurrencies are available on Cryptovip for investment: Bitcoin and Ethereum, Tether(USDT), Tron.
                                        </div>
                                      </div>
                                    </div>
                                    <div class="card">
                                      <div class="card-header white-bg" id="headingTen">
                                        <h4 class="faq-top-text">
                                          <button class="faq-accordion-btn collapsed" data-toggle="collapse" data-target="#collapseTen" aria-expanded="false" aria-controls="collapseTen">
                                            10. Why should I choose Cryptovip?
                                          </button>
                                        </h4>
                                      </div>
                                      <div id="collapseTen" class="collapse" aria-labelledby="headingTen" data-parent="#accordion_2">
                                        <div class="card-body">
                                            We make cryptocurrency simple and easy for everyone to invest in – whether you’re a beginner that’s new to the space or a more experienced investor. We’re also one of the top rated cryptocurrency platforms for security, offering industry leading processes and advanced technologies.
                                        </div>
                                      </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End FAQ -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
                
        <!-- End FAQ area -->
       <!-- Start Subscribe area -->
       <div class="subscribe-area bg-color">
        <div class="container">
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12">
                    <div class="subscribe-inner">
                        <div class="subdcribe-content">
                            <div class="section-headline text-center">
                                <h2>Supported currencies</h2>
                                <!-- <p>Help agencies to define their new business objectives and then create professional software.</p> -->
                            </div>
                            <div class="subs-form">
                                <form id="contactForm" method="POST" action="contact.php" class="contact-form">
                                    <input type="email" class="email form-control" id="email" placeholder="Email" required data-error="Please enter your email">
                                    <button type="submit" id="submit" class="add-btn">Subscribe</button>
                                </form>  
                            </div>
                            <div class="brand-content">
                                <div class="brand-carousel owl-carousel">
                                    <div class="single-brand-item">
                                        <a href="#"><img src="/images/1.png" alt=""></a>
                                    </div>
                                    <div class="single-brand-item">
                                        <a href="#"><img style="width: 6rem;" src="/images/usdt.png" alt=""></a>
                                    </div>
                                    <div class="single-brand-item">
                                        <a href="#"><img src="/images/solana.png" alt=""></a>
                                    </div>
                                    <div class="single-brand-item">
                                        <a href="#"><img src="/images/4.png" alt=""></a>
                                    </div>
                                    <div class="single-brand-item">
                                        <a href="#"><img src="/images/7.png" alt=""></a>
                                    </div>
                                    <div class="single-brand-item">
                                        <a href="#"><img src="/images/8.png" alt=""></a>
                                    </div>
                                    <div class="single-brand-item">
                                        <a href="#"><img src="/images/5.png" alt=""></a>
                                    </div>
                                    <div class="single-brand-item">
                                        <a href="#"><img src="/images/6.png" alt=""></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Subscribe area -->   
</main>
     <!-- Start Footer Area -->
    <%- include("../includes/footer") %>
    <!-- End Footer Area -->
    <!-- All JS here -->
    <%- include("../includes/script") %>
</body>

</html>