<%- include("../includes/header") %>


<body style="background-color: #181254;  ">
    <!-- preloader  -->
    <!-- <div id="preloader"></div> -->
    <marquee style=" margin-bottom: 0%; " behavior="scroll" direction="">
        <div style="display: flex; justify-content: space-around;  width: 100%;">
            <div  class="bitcion"><div class="tradingview-widget-container" style="width: 100%; height: 126px;">
                <iframe scrolling="no" allowtransparency="true" frameborder="0" src="https://www.tradingview-widget.com/embed-widget/single-quote/?locale=in#%7B%22symbol%22%3A%22BITSTAMP%3ABTCUSD%22%2C%22width%22%3A%22100%25%22%2C%22colorTheme%22%3A%22dark%22%2C%22isTransparent%22%3Atrue%2C%22height%22%3A126%2C%22utm_source%22%3A%22bitgrowthinv.com%22%2C%22utm_medium%22%3A%22widget_new%22%2C%22utm_campaign%22%3A%22single-quote%22%2C%22page-uri%22%3A%22bitgrowthinv.com%2F%22%7D" title="single quote TradingView widget" lang="en" style="user-select: none; box-sizing: border-box; display: block; height: calc(100% - 32px); width: 100%;"></iframe>
                <div class="tradingview-widget-copyright"><a href="https://in.tradingview.com/symbols/BTCUSD/?exchange=BITSTAMP&amp;utm_source=bitgrowthinv.com&amp;utm_medium=widget_new&amp;utm_campaign=single-quote" rel="noopener" target="_blank"><span style="color:#EC3F77 ;">BTCUSD Rates</span></a> by TradingView</div>
                
              <style>
.tradingview-widget-copyright {
font-size: 13px !important;
line-height: 32px !important;
text-align: center !important;
vertical-align: middle !important;
/* @mixin sf-pro-display-font; */
font-family: -apple-system, BlinkMacSystemFont, 'Trebuchet MS', Roboto, Ubuntu, sans-serif !important;
color: #B2B5BE !important;
}

.tradingview-widget-copyright .blue-text {
color: #2962FF !important;
}

.tradingview-widget-copyright a {
text-decoration: none !important;
color: #B2B5BE !important;
}

.tradingview-widget-copyright a:visited {
color: #B2B5BE !important;
}

.tradingview-widget-copyright a:hover .blue-text {
color: #1E53E5 !important;
}

.tradingview-widget-copyright a:active .blue-text {
color: #1848CC !important;
}

.tradingview-widget-copyright a:visited .blue-text {
color: #2962FF !important;
}
</style></div></div>			
            <div class="Ethereum"><div class="tradingview-widget-container" style="width: 100%; height: 126px;">
                <iframe scrolling="no" allowtransparency="true" frameborder="0" src="https://www.tradingview-widget.com/embed-widget/single-quote/?locale=in#%7B%22symbol%22%3A%22BITSTAMP%3AETHUSD%22%2C%22width%22%3A%22100%25%22%2C%22colorTheme%22%3A%22dark%22%2C%22isTransparent%22%3Atrue%2C%22height%22%3A126%2C%22utm_source%22%3A%22bitgrowthinv.com%22%2C%22utm_medium%22%3A%22widget_new%22%2C%22utm_campaign%22%3A%22single-quote%22%2C%22page-uri%22%3A%22bitgrowthinv.com%2F%22%7D" title="single quote TradingView widget" lang="en" style="user-select: none; box-sizing: border-box; display: block; height: calc(100% - 32px); width: 100%;"></iframe>
                <div class="tradingview-widget-copyright"><a href="https://in.tradingview.com/symbols/ETHUSD/?exchange=BITSTAMP&amp;utm_source=bitgrowthinv.com&amp;utm_medium=widget_new&amp;utm_campaign=single-quote" rel="noopener" target="_blank"><span style="color:#EC3F77 ;" class="">ETHUSD Rates</span></a> by TradingView</div>
                
              <style>
.tradingview-widget-copyright {
font-size: 13px !important;
line-height: 32px !important;
text-align: center !important;
vertical-align: middle !important;
/* @mixin sf-pro-display-font; */
font-family: -apple-system, BlinkMacSystemFont, 'Trebuchet MS', Roboto, Ubuntu, sans-serif !important;
color: #B2B5BE !important;
}

.tradingview-widget-copyright .blue-text {
color: #2962FF !important;
}

.tradingview-widget-copyright a {
text-decoration: none !important;
color: #B2B5BE !important;
}

.tradingview-widget-copyright a:visited {
color: #B2B5BE !important;
}

.tradingview-widget-copyright a:hover .blue-text {
color: #1E53E5 !important;
}

.tradingview-widget-copyright a:active .blue-text {
color: #1848CC !important;
}

.tradingview-widget-copyright a:visited .blue-text {
color: #2962FF !important;
}
</style></div></div>
            <div class="litecion"><div class="tradingview-widget-container" style="width: 100%; height: 126px;">
                <iframe scrolling="no" allowtransparency="true" frameborder="0" src="https://www.tradingview-widget.com/embed-widget/single-quote/?locale=in#%7B%22symbol%22%3A%22BINANCE%3ALTCUSDT%22%2C%22width%22%3A%22100%25%22%2C%22colorTheme%22%3A%22dark%22%2C%22isTransparent%22%3Atrue%2C%22height%22%3A126%2C%22utm_source%22%3A%22bitgrowthinv.com%22%2C%22utm_medium%22%3A%22widget_new%22%2C%22utm_campaign%22%3A%22single-quote%22%2C%22page-uri%22%3A%22bitgrowthinv.com%2F%22%7D" title="single quote TradingView widget" lang="en" style="user-select: none; box-sizing: border-box; display: block; height: calc(100% - 32px); width: 100%;"></iframe>
                <div class="tradingview-widget-copyright"><a href="https://in.tradingview.com/symbols/LTCUSDT/?exchange=BINANCE&amp;utm_source=bitgrowthinv.com&amp;utm_medium=widget_new&amp;utm_campaign=single-quote" rel="noopener" target="_blank"><span style="color:#EC3F77 ;">LTCUSDT Rates</span></a> by TradingView</div>
                
              <style>
.tradingview-widget-copyright {
font-size: 13px !important;
line-height: 32px !important;
text-align: center !important;
vertical-align: middle !important;
/* @mixin sf-pro-display-font; */
font-family: -apple-system, BlinkMacSystemFont, 'Trebuchet MS', Roboto, Ubuntu, sans-serif !important;
color: #B2B5BE !important;
}

.tradingview-widget-copyright .blue-text {
color: #2962FF !important;
}

.tradingview-widget-copyright a {
text-decoration: none !important;
color: #B2B5BE !important;
}

.tradingview-widget-copyright a:visited {
color: #B2B5BE !important;
}

.tradingview-widget-copyright a:hover .blue-text {
color: #1E53E5 !important;
}

.tradingview-widget-copyright a:active .blue-text {
color: #1848CC !important;
}

.tradingview-widget-copyright a:visited .blue-text {
color: #2962FF !important;
}
</style></div></div>
            <div class="xrp"><div class="tradingview-widget-container" style="width: 100%; height: 126px;">
                <iframe scrolling="no" allowtransparency="true" frameborder="0" src="https://www.tradingview-widget.com/embed-widget/single-quote/?locale=in#%7B%22symbol%22%3A%22BINANCE%3AXRPUSDT%22%2C%22width%22%3A%22100%25%22%2C%22colorTheme%22%3A%22dark%22%2C%22isTransparent%22%3Atrue%2C%22height%22%3A126%2C%22utm_source%22%3A%22bitgrowthinv.com%22%2C%22utm_medium%22%3A%22widget_new%22%2C%22utm_campaign%22%3A%22single-quote%22%2C%22page-uri%22%3A%22bitgrowthinv.com%2F%22%7D" title="single quote TradingView widget" lang="en" style="user-select: none; box-sizing: border-box; display: block; height: calc(100% - 32px); width: 100%;"></iframe>
                <div class="tradingview-widget-copyright"><a href="https://in.tradingview.com/symbols/XRPUSDT/?exchange=BINANCE&amp;utm_source=bitgrowthinv.com&amp;utm_medium=widget_new&amp;utm_campaign=single-quote" rel="noopener" target="_blank"><span style="color:#EC3F77 ;">XRPUSDT Rates</span></a> by TradingView</div>
                
              <style>
.tradingview-widget-copyright {
font-size: 13px !important;
line-height: 32px !important;
text-align: center !important;
vertical-align: middle !important;
/* @mixin sf-pro-display-font; */
font-family: -apple-system, BlinkMacSystemFont, 'Trebuchet MS', Roboto, Ubuntu, sans-serif !important;
color: #B2B5BE !important;
}

.tradingview-widget-copyright .blue-text {
color: #2962FF !important;
}

.tradingview-widget-copyright a {
text-decoration: none !important;
color: #B2B5BE !important;
}

.tradingview-widget-copyright a:visited {
color: #B2B5BE !important;
}

.tradingview-widget-copyright a:hover .blue-text {
color: #1E53E5 !important;
}

.tradingview-widget-copyright a:active .blue-text {
color: #1848CC !important;
}

.tradingview-widget-copyright a:visited .blue-text {
color: #2962FF !important;
}
</style></div></div>
         </div>  
    </marquee>
    <div class="container">
        <%- include("../includes/flash") %>
    </div>
    <!-- Start Slider Area -->
    <div class="login-area area-padding fix">
        <div class="login-overlay"></div>
        <div class="container">
            <div class="row justify-content-center text-center ">
                <div class="col-xl-6 col-lg-6 col-md-8">
                    <div class="login-form">
                        <h4 class="login-title text-center">Login</h4>
                        <form id="contactForm" method="POST" action="/login" class="log-form">
                            <input type="text" id="name" class="form-control" placeholder="Username" name="username" required data-error="Please enter your name">
                            <input type="password" id="msg_subject" class="form-control" placeholder="Password" name="password" required data-error="Please enter your message subject">
                            <div class="check-group">
                                <div class="checkbox">
                                    <label><input type="checkbox" value="">Remember me</label>
                                </div>
                                <a class="text-muted" href="#">Forgot password?</a>
                            </div>
                            <button type="submit" id="submit" class="slide-btn login-btn">Login</button>
                            <div id="msgSubmit" class="h3 text-center hidden"></div> 
                            <div class="clearfix"></div>
                            <div class="clear"></div>
                            <div class="separetor text-center"><span>Or Login with </span></div>
                            <div class="sign-icon">
                                <ul>
                                    <li>
                                        <a href="">
                                            <img src="/images/facebook.png" alt="facebook">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="">
                                            <img src="/images/twitter.png" alt="x">
                                        </a>
                                    </li>
                                    <!-- <li>
                                        <a href="">
                                            <img src="/images/chrome.png" alt="chrome">
                                        </a>
                                    </li> -->
                                    <!-- <li>
                                        <a href="">
                                            <img src="/images/apple.png" alt="apple">
                                        </a>
                                    </li> -->
                                    <li>
                                    <li>
                                        <a href="">
                                            <img src="/images/linkedin.png" alt="linkedin">
                                        </a>
                                    </li>
                                    
                                        <a href="">
                                            <img src="/images/telegram.png" alt="telegram">
                                        </a>
                                    </li>
                                    <!-- <li>
                                        <a href="">
                                            <img src="/images/tik-tok.png" alt="tik-tok">
                                        </a>
                                    </li> -->
                                </ul>
                                <div class="acc-not">have an account?  <a href="/register">Signup</a></div>
                            </div>
                        </form> 
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Slider Area -->
     <!-- Start Footer Area -->
     <%- include("../includes/footer2") %>
    <!-- End Footer Area -->

    <!-- All JS here -->

    <!-- modernizr JS -->
    <script src="/js-files/modernizr-3.5.0.min.js"></script>
    <!-- jquery latest version -->
    <script src="/js-files/jquery-1.12.4.min.js"></script>
    <!-- Poper js -->
    <script src="/js-files/popper.min.js"></script>
    <!-- bootstrap js -->
    <script src="/js-files/bootstrap.min.js"></script>
    <!-- plugins js -->
    <script src="/js-files/plugins.js"></script>
    <!-- main js -->
    <script src="/js-files/main.js"></script>
</body>

</html>