<%- include("../includes/header") %>

<body>
    <!-- preloader  -->
    <!-- <div id="preloader"></div> -->
    <!-- Start header -->
    <%- include("../includes/navbar") %>
    <!-- End header area -->
    <main>
    <!-- Start Breadcrumb Area -->
        <div class="page-area bread-pd">
            <div class="breadcumb-overlay"></div>
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="breadcrumb-title text-center">
                            <h2>Reviews</h2>
                            <div class="bread-come">
                                <nav aria-label="breadcrumb ">
                                    <ol class="breadcrumb purple lighten-4 justify-content-center">
                                        <li class="breadcrumb-items"><a class="black-text" href="/pages/index.html">Home</a><img style="width: 0.8rem; margin: 5px;" src="/images/arrow.png" alt=""></li>
                                        <li class="breadcrumb-items"><a class="black-text" href="/pages/about.html">About us</a></li>
                                    </ol>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Breadcrumb Area -->
        <marquee style="  margin-bottom: 0%; " behavior="" direction="">
            <div style="display: flex; justify-content: space-around;  width: 100%;">
                <div  class="bitcion"><div class="tradingview-widget-container" style="width: 100%; height: 126px;">
                    <iframe scrolling="no" allowtransparency="true" frameborder="0" src="https://www.tradingview-widget.com/embed-widget/single-quote/?locale=in#%7B%22symbol%22%3A%22BITSTAMP%3ABTCUSD%22%2C%22width%22%3A%22100%25%22%2C%22colorTheme%22%3A%22dark%22%2C%22isTransparent%22%3Atrue%2C%22height%22%3A126%2C%22utm_source%22%3A%22bitgrowthinv.com%22%2C%22utm_medium%22%3A%22widget_new%22%2C%22utm_campaign%22%3A%22single-quote%22%2C%22page-uri%22%3A%22bitgrowthinv.com%2F%22%7D" title="single quote TradingView widget" lang="en" style="user-select: none; box-sizing: border-box; display: block; height: calc(100% - 32px); width: 100%;"></iframe>
                    <div class="tradingview-widget-copyright"><a href="https://in.tradingview.com/symbols/BTCUSD/?exchange=BITSTAMP&amp;utm_source=bitgrowthinv.com&amp;utm_medium=widget_new&amp;utm_campaign=single-quote" rel="noopener" target="_blank"><span style="color:#EC3F77 ;">BTCUSD Rates</span></a> by TradingView</div>
                    
                  <style>
.tradingview-widget-copyright {
font-size: 13px !important;
line-height: 32px !important;
text-align: center !important;
vertical-align: middle !important;
/* @mixin sf-pro-display-font; */
font-family: -apple-system, BlinkMacSystemFont, 'Trebuchet MS', Roboto, Ubuntu, sans-serif !important;
color: #B2B5BE !important;
}

.tradingview-widget-copyright .blue-text {
color: #2962FF !important;
}

.tradingview-widget-copyright a {
text-decoration: none !important;
color: #B2B5BE !important;
}

.tradingview-widget-copyright a:visited {
color: #B2B5BE !important;
}

.tradingview-widget-copyright a:hover .blue-text {
color: #1E53E5 !important;
}

.tradingview-widget-copyright a:active .blue-text {
color: #1848CC !important;
}

.tradingview-widget-copyright a:visited .blue-text {
color: #2962FF !important;
}
</style></div></div>			
                <div class="Ethereum"><div class="tradingview-widget-container" style="width: 100%; height: 126px;">
                    <iframe scrolling="no" allowtransparency="true" frameborder="0" src="https://www.tradingview-widget.com/embed-widget/single-quote/?locale=in#%7B%22symbol%22%3A%22BITSTAMP%3AETHUSD%22%2C%22width%22%3A%22100%25%22%2C%22colorTheme%22%3A%22dark%22%2C%22isTransparent%22%3Atrue%2C%22height%22%3A126%2C%22utm_source%22%3A%22bitgrowthinv.com%22%2C%22utm_medium%22%3A%22widget_new%22%2C%22utm_campaign%22%3A%22single-quote%22%2C%22page-uri%22%3A%22bitgrowthinv.com%2F%22%7D" title="single quote TradingView widget" lang="en" style="user-select: none; box-sizing: border-box; display: block; height: calc(100% - 32px); width: 100%;"></iframe>
                    <div class="tradingview-widget-copyright"><a href="https://in.tradingview.com/symbols/ETHUSD/?exchange=BITSTAMP&amp;utm_source=bitgrowthinv.com&amp;utm_medium=widget_new&amp;utm_campaign=single-quote" rel="noopener" target="_blank"><span style="color:#EC3F77 ;" class="">ETHUSD Rates</span></a> by TradingView</div>
                    
                  <style>
.tradingview-widget-copyright {
font-size: 13px !important;
line-height: 32px !important;
text-align: center !important;
vertical-align: middle !important;
/* @mixin sf-pro-display-font; */
font-family: -apple-system, BlinkMacSystemFont, 'Trebuchet MS', Roboto, Ubuntu, sans-serif !important;
color: #B2B5BE !important;
}

.tradingview-widget-copyright .blue-text {
color: #2962FF !important;
}

.tradingview-widget-copyright a {
text-decoration: none !important;
color: #B2B5BE !important;
}

.tradingview-widget-copyright a:visited {
color: #B2B5BE !important;
}

.tradingview-widget-copyright a:hover .blue-text {
color: #1E53E5 !important;
}

.tradingview-widget-copyright a:active .blue-text {
color: #1848CC !important;
}

.tradingview-widget-copyright a:visited .blue-text {
color: #2962FF !important;
}
</style></div></div>
                <div class="litecion"><div class="tradingview-widget-container" style="width: 100%; height: 126px;">
                    <iframe scrolling="no" allowtransparency="true" frameborder="0" src="https://www.tradingview-widget.com/embed-widget/single-quote/?locale=in#%7B%22symbol%22%3A%22BINANCE%3ALTCUSDT%22%2C%22width%22%3A%22100%25%22%2C%22colorTheme%22%3A%22dark%22%2C%22isTransparent%22%3Atrue%2C%22height%22%3A126%2C%22utm_source%22%3A%22bitgrowthinv.com%22%2C%22utm_medium%22%3A%22widget_new%22%2C%22utm_campaign%22%3A%22single-quote%22%2C%22page-uri%22%3A%22bitgrowthinv.com%2F%22%7D" title="single quote TradingView widget" lang="en" style="user-select: none; box-sizing: border-box; display: block; height: calc(100% - 32px); width: 100%;"></iframe>
                    <div class="tradingview-widget-copyright"><a href="https://in.tradingview.com/symbols/LTCUSDT/?exchange=BINANCE&amp;utm_source=bitgrowthinv.com&amp;utm_medium=widget_new&amp;utm_campaign=single-quote" rel="noopener" target="_blank"><span style="color:#EC3F77 ;">LTCUSDT Rates</span></a> by TradingView</div>
                    
                  <style>
.tradingview-widget-copyright {
font-size: 13px !important;
line-height: 32px !important;
text-align: center !important;
vertical-align: middle !important;
/* @mixin sf-pro-display-font; */
font-family: -apple-system, BlinkMacSystemFont, 'Trebuchet MS', Roboto, Ubuntu, sans-serif !important;
color: #B2B5BE !important;
}

.tradingview-widget-copyright .blue-text {
color: #2962FF !important;
}

.tradingview-widget-copyright a {
text-decoration: none !important;
color: #B2B5BE !important;
}

.tradingview-widget-copyright a:visited {
color: #B2B5BE !important;
}

.tradingview-widget-copyright a:hover .blue-text {
color: #1E53E5 !important;
}

.tradingview-widget-copyright a:active .blue-text {
color: #1848CC !important;
}

.tradingview-widget-copyright a:visited .blue-text {
color: #2962FF !important;
}
</style></div></div>
                <div class="xrp"><div class="tradingview-widget-container" style="width: 100%; height: 126px;">
                    <iframe scrolling="no" allowtransparency="true" frameborder="0" src="https://www.tradingview-widget.com/embed-widget/single-quote/?locale=in#%7B%22symbol%22%3A%22BINANCE%3AXRPUSDT%22%2C%22width%22%3A%22100%25%22%2C%22colorTheme%22%3A%22dark%22%2C%22isTransparent%22%3Atrue%2C%22height%22%3A126%2C%22utm_source%22%3A%22bitgrowthinv.com%22%2C%22utm_medium%22%3A%22widget_new%22%2C%22utm_campaign%22%3A%22single-quote%22%2C%22page-uri%22%3A%22bitgrowthinv.com%2F%22%7D" title="single quote TradingView widget" lang="en" style="user-select: none; box-sizing: border-box; display: block; height: calc(100% - 32px); width: 100%;"></iframe>
                    <div class="tradingview-widget-copyright"><a href="https://in.tradingview.com/symbols/XRPUSDT/?exchange=BINANCE&amp;utm_source=bitgrowthinv.com&amp;utm_medium=widget_new&amp;utm_campaign=single-quote" rel="noopener" target="_blank"><span style="color:#EC3F77 ;">XRPUSDT Rates</span></a> by TradingView</div>
                    
                  <style>
.tradingview-widget-copyright {
font-size: 13px !important;
line-height: 32px !important;
text-align: center !important;
vertical-align: middle !important;
/* @mixin sf-pro-display-font; */
font-family: -apple-system, BlinkMacSystemFont, 'Trebuchet MS', Roboto, Ubuntu, sans-serif !important;
color: #B2B5BE !important;
}

.tradingview-widget-copyright .blue-text {
color: #2962FF !important;
}

.tradingview-widget-copyright a {
text-decoration: none !important;
color: #B2B5BE !important;
}

.tradingview-widget-copyright a:visited {
color: #B2B5BE !important;
}

.tradingview-widget-copyright a:hover .blue-text {
color: #1E53E5 !important;
}

.tradingview-widget-copyright a:active .blue-text {
color: #1848CC !important;
}

.tradingview-widget-copyright a:visited .blue-text {
color: #2962FF !important;
}
</style></div></div>
             </div>  
        </marquee>
        <!-- Start Reviews Area -->
        <div class="reviews-page-area bg-color area-padding-2">
            <div class="container">
                <div class="row">
                    <div class="col-xl-4 col-lg-4 col-md-6">
                        <div class="single-testi">
                            <div class="testi-text">
                                <div class="clients-text">
                                    <div class="testi-img ">
                                        <img src="/images/c-5.jpg" alt="">
                                        <div class="guest-details">
                                            <h4>Brian Cranston</h4>
                                            <span class="guest-rev">Washington, USA</span>
                                        </div>
                                    </div>
                                    <div class="client-rating">
                                        <img src="/images/full-rating.png" alt="star">
                                        <img src="/images/full-rating.png" alt="star">
                                        <img src="/images/full-rating.png" alt="star">
                                        <img src="/images/full-rating.png" alt="star">
                                        <img src="/images/half-rating.png" alt="star">
                                    </div>
                                    <p>It feels great being on Cryptovip's crypto and forex investments program. The professionalism of Cryptovip's financial analysts made it easy for me to earn.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End single item -->
                    <div class="col-xl-4 col-lg-4 col-md-6">
                        <div class="single-testi">
                            <div class="testi-text">
                                <div class="clients-text">
                                    <div class="testi-img ">
                                        <img src="/images/c-1.jpg" alt="">
                                        <div class="guest-details">
                                            <h4>Rosa Lee</h4>
                                            <span class="guest-rev">Italy</span>
                                        </div>
                                    </div>
                                    <div class="client-rating">
                                        <img src="/images/full-rating.png" alt="star">
                                        <img src="/images/full-rating.png" alt="star">
                                        <img src="/images/full-rating.png" alt="star">
                                        <img src="/images/full-rating.png" alt="star">
                                        
                                    </div>
                                    <p>Me encanta la plataforma cryptovip! Aquí, no sabía nada sobre el comercio hasta que me uní a cryptovip, en este momento soy un inversionista seguro.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End single item -->
                    <div class="col-xl-4 col-lg-4 col-md-6">
                        <div class="single-testi">
                            <div class="testi-text">
                                <div class="clients-text">
                                    <div class="testi-img ">
                                        <img src="/images/c-3.jpg" alt="">
                                        <div class="guest-details">
                                            <h4>Daniel</h4>
                                            <span class="guest-rev">Bosto, Massachusetts
                                                </span>
                                        </div>
                                    </div>
                                    <div class="client-rating">
                                        <img src="/images/full-rating.png" alt="star">
                                        <img src="/images/full-rating.png" alt="star">
                                        <img src="/images/full-rating.png" alt="star">
                                        <img src="/images/full-rating.png" alt="star">
                                        <img src="/images/full-rating.png" alt="star">
                                    </div>
                                    <p>The team at Cryptovip went above and beyond to understand my financial goals and tailor their strategies to meet my specific needs. Their personalized approach instilled a sense of confidence in me, knowing that I was in capable hands every step of the way..</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End single item -->
                    <div class="col-xl-4 col-lg-4 col-md-6">
                        <div class="single-testi">
                            <div class="testi-text">
                                <div class="clients-text">
                                    <div class="testi-img ">
                                        <img src="/images/c-6.jpg" alt="">
                                        <div class="guest-details">
                                            <h4>Mark Richard</h4>
                                            <span class="guest-rev">England</span>
                                        </div>
                                    </div>
                                    <div class="client-rating">
                                        <img src="/images/full-rating.png" alt="star">
                                        <img src="/images/full-rating.png" alt="star">
                                        <img src="/images/full-rating.png" alt="star">
                                        <img src="/images/full-rating.png" alt="star">
                                        <img src="/images/full-rating.png" alt="star">
                                    </div>
                                    <p>The customer support here is top notch and this platform has really  helped me a lot. and its a nice and superb platform am so happy i heard about this from a friend.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End single item -->
                    <div class="col-xl-4 col-lg-4 col-md-6">
                        <div class="single-testi">
                            <div class="testi-text">
                                <div class="clients-text">
                                    <div class="testi-img ">
                                        <img src="/images/c-4.jpg" alt="">
                                        <div class="guest-details">
                                            <h4>Tess Harper</h4>
                                            <span class="guest-rev">Hungary</span>
                                        </div>
                                    </div>
                                    <div class="client-rating">
                                        <img src="/images/full-rating.png" alt="star">
                                        <img src="/images/full-rating.png" alt="star">
                                        <img src="/images/full-rating.png" alt="star">
                                        <img src="/images/full-rating.png" alt="star">
                                        <img src="/images/half-rating.png" alt="star">
                                    </div>
                                    <p>Fokozatosan növeltem a tőkémet, amely 500 USD volt, több mint 10 000 USD-re ezen a platformon. 2 hónap alatt nem könnyű találni egy olyan hiteles befektetési céget, mint a stake-swifts.com.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End single item -->
                    <div class="col-xl-4 col-lg-4 col-md-6">
                        <div class="single-testi">
                            <div class="testi-text">
                                <div class="clients-text">
                                    <div class="testi-img ">
                                        <img src="/images/user4.jpeg" alt="">
                                        <div class="guest-details">
                                            <h4>Charles Vee</h4>
                                            <span class="guest-rev">New York,USA</span>
                                        </div>
                                    </div>
                                    <div class="client-rating">
                                        <img src="/images/full-rating.png" alt="star">
                                        <img src="/images/full-rating.png" alt="star">
                                        <img src="/images/full-rating.png" alt="star">
                                        <img src="/images/full-rating.png" alt="star">
                                    </div>
                                    <p>There is a spirituality to money & we understand that at cryptovip. And that’s why conscious people like to invest with us. That’s why vegans and vegetarians like to invest with us. That’s why people who understand the laws of attraction and karma and resonance and noetics like to invest with cryptovip.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End single item -->
                </div>
            </div>
        </div>
        <!-- End Reviews area -->
        <!-- Start Subscribe area -->
        <div class="subscribe-area bg-color">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12">
                        <div class="subscribe-inner">
                            <div class="subdcribe-content">
                                <div class="section-headline text-center">
                                    <h2>Supported currencies</h2>
                                    <!-- <p>Help agencies to define their new business objectives and then create professional software.</p> -->
                                </div>
                                <div class="subs-form">
                                    <form id="contactForm" method="POST" action="contact.php" class="contact-form">
                                        <input type="email" class="email form-control" id="email" placeholder="Email" required data-error="Please enter your email">
                                        <button type="submit" id="submit" class="add-btn">Subscribe</button>
                                    </form>  
                                </div>
                                <div class="brand-content">
                                    <div class="brand-carousel owl-carousel">
                                        <div class="single-brand-item">
                                            <a href="#"><img src="/images/1.png" alt=""></a>
                                        </div>
                                        <div class="single-brand-item">
                                            <a href="#"><img style="width: 6rem;" src="/images/usdt.png" alt=""></a>
                                        </div>
                                        <div class="single-brand-item">
                                            <a href="#"><img src="/images/solana.png" alt=""></a>
                                        </div>
                                        <div class="single-brand-item">
                                            <a href="#"><img src="/images/4.png" alt=""></a>
                                        </div>
                                        <div class="single-brand-item">
                                            <a href="#"><img src="/images/7.png" alt=""></a>
                                        </div>
                                        <div class="single-brand-item">
                                            <a href="#"><img src="/images/8.png" alt=""></a>
                                        </div>
                                        <div class="single-brand-item">
                                            <a href="#"><img src="/images/5.png" alt=""></a>
                                        </div>
                                        <div class="single-brand-item">
                                            <a href="#"><img src="/images/6.png" alt=""></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Subscribe area -->   
    </main>
    <!-- Start Footer Area -->
    <%- include("../includes/footer") %>
    <!-- End Footer Area -->

    <!-- All JS here -->
    <%- include("../includes/script") %>
</body>

</html>