<%- include("../includes/header") %>

<body>
    <!-- preloader  -->
    <!-- <div id="preloader"></div> -->
    <!-- Start header -->
    <%- include("../includes/navbar") %>
    <!-- End header area -->
    <main>
    <!-- Start Breadcrumb Area -->
        <div class="page-area bread-pd">
            <div class="breadcumb-overlay"></div>
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="breadcrumb-title text-center">
                            <h2>Terms</h2>
                            <div class="bread-come">
                                <nav aria-label="breadcrumb ">
                                    <ol class="breadcrumb purple lighten-4 justify-content-center">
                                        <li class="breadcrumb-items"><a class="black-text" href="/pages/index.html">Home</a><img style="width: 0.8rem; margin: 5px;" src="/images/arrow.png" alt=""></li>
                                        <li class="breadcrumb-items"><a class="black-text" href="#">About us</a></li>
                                    </ol>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Breadcrumb Area -->
        <!-- Start terms area -->
        <div class="terms-area bg-color area-padding">
            <div class="container">
               <div class="row">
                   <div class="col-xl-12 col-lg-12 col-md-12">
                        <div class="section-headline text-center">
                            <h2>Terms / policy</h2>
                           
                        </div>
                    </div>
               </div>
                <div class="row">
                    <!-- Start Column Start -->
                    <div class="col-xl-8 col-lg-8 col-md-12">
                        <div class="company-terms">
                            <div class="single-terms">
                               <h4><span class="number">.</span> <span class="terms-text"> Policy</span></h4>
                               <p>Study the rules of cryptovip's investment program before proceeding. As at the date of registration, you agree to be of legal age in your country to partake in this program, and in all the cases your minimal age must be 18 years.

                                cryptovip is not open to the general public, but available only to the qualified members of cryptovip, as the use of this platform is restricted to our members and to individuals personally invited by them. Every deposit is considered to be a private transaction between the cryptovip and its Member.
                                
                                Terms and provisions of this Agreement are binding upon Your heirs, successors, assigns, and other representatives. This Agreement may be executed in counterparts, each of which shall be considered to be an original, but both of which constitute the same Agreement.
                                
                                With its status of a private transaction, this program is exempt from the US Securities Act of 1933, the US Securities Exchange Act of 1934 and the US Investment Company Act of 1940 and all other rules, regulations and amendments thereof. We are not FDIC insured. We are not a licensed bank or a security firm. That all information, communications, materials coming from cryptovip are unsolicited and must be kept private, confidential and protected from any disclosure. Moreover, the information, communications and materials contained herein are not to be regarded as an offer, nor a solicitation for investments in any jurisdiction which deems non-public offers or solicitations unlawful, nor to any person to whom it will be unlawful to make such offer or solicitation
                                
                                Data given by a member to cryptovip will be only privately used and not disclosed to any third parties. cryptovip is not responsible or liable for any loss of data. You agree to hold all principals and members harmless of any liability. You are investing at your own risk and you agree that a past performance is not an explicit guarantee for the same future performance. You agree that all information, communications and materials you will find on this site are intended to be regarded as an informational and educational matter and not an investment advice.
                                
                                Also for every broker funded account, there's a limit to the withdrawal in excess which when exceeded will require a mandatory upgrade to facilitate We reserve the right to change the rules, commissions and rates of the program at any time and at our sole discretion without notice, especially in order to respect the integrity and security of the members' interests. You agree that it is your sole responsibility to review the current terms.
                                
                                cryptovip is not responsible or liable for any damages, losses and costs resulting from any violation of the conditions and terms and/or use of our website by a member. You guarantee to cryptovip that you will not use this site in any illegal way and you agree to respect your local, national and international laws.
                                
                                You don't have to post bad vote on Public Forums and at Gold Rating Site without contacting the administrator of our program FIRST. Maybe there was a technical problem with your transaction, so please always CLEAR the thing with the administrator. We will not tolerate SPAM or any type of UCE in this program. SPAM violators will be immediately and permanently removed from the program. cryptovip reserves the right to accept or decline any member for membership without explanation.
                                
                                Kindly terminate your registration process for this program if you do not agree to these rules.</p>
                            </div>
                            <!-- <div class="single-terms">
                               <h4><span class="number">2.</span><span class="terms-text"> Clients satisfaction make company value.</span></h4>
                               <p>When replacing a multi-lined selection of text, the generated dummy text maintains the amount of lines. When replacing a selection of text within a single line, the amount of words is roughly being maintained. multi-lined selection of text, the generated dummy text maintains the amount of lines. </p>
                            </div>
                            <div class="single-terms">
                               <h4><span class="number">3.</span><span class="terms-text"> World class creative firm.</span></h4>
                               <p>When replacing a multi-lined selection of text, the generated dummy text maintains the amount of lines. When replacing a selection of text within a single line, the amount of words is roughly being maintained. multi-lined selection of text, the generated dummy text maintains the amount of lines.</p>
                            </div>
                            <div class="single-terms">
                               <h4><span class="number">4.</span><span class="terms-text"> We are the best online platform </span></h4>
                               <p>When replacing a multi-lined selection of text, the generated dummy text maintains the amount of lines. When replacing a selection of text within a single line, the amount of words is roughly being maintained. multi-lined selection of text, the generated dummy text maintains the amount of lines.</p>
                            </div>
                            <div class="single-terms">
                               <h4><span class="number">5.</span><span class="terms-text"> Clients satisfaction make company value.</span></h4>
                               <p>When replacing a multi-lined selection of text, the generated dummy text maintains the amount of lines. When replacing a selection of text within a single line, the amount of words is roughly being maintained. multi-lined selection of text, the generated dummy text maintains the amount of lines. When replacing a selection of text within a single line, the amount of </p>
                            </div> -->
                        </div>
                    </div>
                    <!-- <div class="col-xl-4 col-lg-4 col-md-12">
                        <div class="terms-right">
                            <div class="terms-single">
                                <h4>Invest Policy</h4>
                                <p>When replacing a multi-lined selection of text, the generated dummy text maintains the amount of lines. When replacing a selection of text within a single line, the amount of words is roughly being maintained. multi-lined selection of text, the generated dummy text maintains the amount of lines. </p>
                                <ul class="terms-list">
                                    <li>text maintains the amount of lines. When replacing a selection of text within a single line</li>
                                    <li>text maintains the amount of lines. When replacing a selection of text within a single line</li>
                                    <li>text maintains the amount of lines. When replacing a selection of text within a single line</li>
                                    <li>text maintains the amount of lines. When replacing a selection of text within a single line</li>
                                </ul>
                            </div>
                        </div>
                    </div> -->
                </div>
            </div>
        </div>
        <!-- End terms area -->
       <!-- Start Subscribe area -->
       <div class="subscribe-area bg-color">
        <div class="container">
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12">
                    <div class="subscribe-inner">
                        <div class="subdcribe-content">
                            <div class="section-headline text-center">
                                <h2>Supported currencies</h2>
                                <!-- <p>Help agencies to define their new business objectives and then create professional software.</p> -->
                            </div>
                            <div class="subs-form">
                                <form id="contactForm" method="POST" action="contact.php" class="contact-form">
                                    <input type="email" class="email form-control" id="email" placeholder="Email" required data-error="Please enter your email">
                                    <button type="submit" id="submit" class="add-btn">Subscribe</button>
                                </form>  
                            </div>
                            <div class="brand-content">
                                <div class="brand-carousel owl-carousel">
                                    <div class="single-brand-item">
                                        <a href="#"><img src="/images/1.png" alt=""></a>
                                    </div>
                                    <div class="single-brand-item">
                                        <a href="#"><img style="width: 6rem;" src="/images/usdt.png" alt=""></a>
                                    </div>
                                    <div class="single-brand-item">
                                        <a href="#"><img src="/images/solana.png" alt=""></a>
                                    </div>
                                    <div class="single-brand-item">
                                        <a href="#"><img src="/images/4.png" alt=""></a>
                                    </div>
                                    <div class="single-brand-item">
                                        <a href="#"><img src="/images/7.png" alt=""></a>
                                    </div>
                                    <div class="single-brand-item">
                                        <a href="#"><img src="/images/8.png" alt=""></a>
                                    </div>
                                    <div class="single-brand-item">
                                        <a href="#"><img src="/images/5.png" alt=""></a>
                                    </div>
                                    <div class="single-brand-item">
                                        <a href="#"><img src="/images/6.png" alt=""></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Subscribe area -->   
    </main>
    <!-- Start Footer Area -->
    <%- include("../includes/footer") %>
    <!-- End Footer Area -->


    <!-- All JS here -->

    <%- include("../includes/script") %>
</body>

</html>